@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
    z-index: 999;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-content, .navbar-write-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.navbar-hexagon {
    width: 58px;
    height: 34px;
    background: #11d0ac;
    position: relative;
    display: block;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

}
.navbar-hexagon:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 17px solid #11d0ac;
}
.navbar-hexagon:after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 17px solid #11d0ac;
}
.navbar-logo{
    display: flex;

}
.navbar-logo1{
    text-transform: none;
    font-size: 28px;
    font-weight: 400;

}
.navbar-logo2{
    text-transform: none;
    font-size: 32px;
    font-weight: 400;

    color: #11d0ac;
}
.navbar-nav-item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-nav-item:after{
    content: "";
    display: block;
    background-color: #18cfab;
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transition: transform .2s ease-in-out;
    position: relative;
    top: 40px;
}
.navbar-nav-item:hover .navbar-nav-link{
    color: #18cfab;
}
.navbar-nav-item:hover::after{
    transform: scale(1, 1);
}
.navbar-nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-nav-link:after {
    width: 100%;
}

/*.search {*/
    /*position: relative;*/
    /*margin-top: 18px;*/
    /*overflow: hidden;*/
    /*color: #fff;*/
/*}*/
.fa-search:before {
    content: "\f002";
    font-size: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.hero-header{
    background-image: url(../img/sections_background/section1_header.jpg);
    height: 1012px;
    background-size: cover;
}
.row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 50px;
}
.home-title {
    font-family: 'Montserrat-Reular';
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.pre-title{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}
.home-title .pre-title .color-aqua {
    font-size: 35px;
    font-weight: 700;
    color: #18cfab;
}
.home-title .home-main-title {
    font-size: 79px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    color: #fff;

}
.home-title .last-title {
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    color: #d4d4d4;
    text-transform: none;
    transform: scaleX(1.0005);/* width and height properties ommitted due to transform */
    font-family: 'Montserrat-Light';
}
.two-center-buttons{
    margin-top: 100px;
}
.left-button {
    margin-right: 30px;
    background-color: #18cfab;
}
.left-button, .right-button {
    width: 165px;
    height: 60px;
    border-radius: 4px;
    border-width: 0;
    color: #fff;
    font-family: "Montserrat-Regular";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.white-border {
    -webkit-box-shadow: 0 -5px 2px 0 #fff;
    -moz-box-shadow: 0 -5px 2px 0 #fff;
    box-shadow: 0 -5px 2px 0 #fff;
}
.right-button{
    background-color: #00cbf6;
}
.under-hero{
    display: flex;

}
.col-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.under-hero-img {
    height: 97px;
 }

.col-4:nth-child(odd){
    width: 25%;
    height: 320px;
    text-align: center;
    background-color: #1c2a33;
    position: relative;
    border-top: 5px solid #18cfab;

}
.col-4:nth-child(even){
    width: 25%;
    height: 320px;
    text-align: center;
    background-color: #18cfab;
    position: relative;
    border-top: 5px solid #fff;
}

.aqua{
    color:  #18cfab;
    font-size: 20px;
}
.white{
    color:  #ffffff;
    font-size: 20px;
}
/*Our amazing services*/
.work {
    background-color: #f8fcfe;

}
.work__title {
    margin-top: 160px;
}

.section-title {
    display: inline-block;
    position: relative;
    padding-bottom: 30px;
    font-size: 36px;
    text-transform: capitalize;
    color:  #4e4e4e;
    font-weight: 400;
    line-height: 40px;
}
.section-title:before, .section-title:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 76px;
    height: 1px;
    left: 50%;
    border-bottom: 1px solid #18cfab;
    margin-left: -32px;
}
.section-title:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 76px;
    height: 1px;
    left: 50%;
    border-bottom: 1px solid #18cfab;
    margin-left: -44px;
}
.work-menu{
    display: flex;
    justify-content: center;
}
.work-menu ul{
    width: 650px;
    height: 57px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.work-menu li{
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: rgb( 113, 113, 113 );
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-menu a {
     position: relative;
     padding: 20px;
     font-size: 14px;
     text-transform: uppercase;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
 }
.work-menu a:before {
    content: '';
    position: absolute;
    left: -1px;
    width: 101.5%;
    top: 0;
    height: 2px;
    opacity: 0;
    background-color: #18cfab;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}
.work-menu-change a {
    color: #18cfab;
}
/*Our services part  Bubnow*/
/*BEGIN*/
.services {
    font-size: 36px;
    color: rgb( 78, 78, 78 );
    margin-top: 85px;
    position: relative;
}
.narrow-block{
    width: 1140px;
    height: 100%;
}
.service-menu-list{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;

}
.service-item{
    list-style: none;
    width: 190px;
    height: 72px;
    background-color: #f8fcfe;
    text-align: center;
    line-height: 70px;
    border: 1px solid #eeeeef;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.service-image{
    width: 194px;
    height: 139px;
    background-size: cover;
    background: url("../img/Our_services_part/web-design.jpg") no-repeat;
}
.service-item:hover .service-image{
    opacity: 1;
}
.service-link{
    font-size: 16px;
    color: rgb( 113, 113, 113 );
    transition: color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-description{
    width: 1140px;
    height: 140px;
    margin-top: 25px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

}
.service-menu:hover{
    background-color: #18cfab;
}
.service-menu:hover .service-link{
    color: white;
}
.service-menu:hover::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18cfab;
    transform: translate(80px, 0);
}
.service-text{
    width: 900px;
    text-align: justify;
    color:  #777777;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    transform: scaleY(1.0009);
}

.purchase-block{
    background-size: cover;
    background: url("../img/Our_services_part/bg-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ready-slogan {
    font-size: 40px;
    margin-top: 125px;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
}
.ready-slogan-2 {
    font-size: 16px;
    color: rgb( 216, 216, 216 );
    margin-top: 35px;
}
.ready-button{
    margin-top: 75px;
}
.stripes{
    background-color: #18cfab;
    width: 75px;
    height: 1px;
    margin-top: 37px;
}
.stripes:after{
    content: "";
    display: block;
    background-color: #18cfab;
    width: 75px;
    height: 1px;
    transform: translate(12px, 3px);
}
.container_b{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-container{
    width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Our services part  Bubnow*/
/*end*/